<header>
  <div class="flex mb">
    <div class="mr">Select chain</div>
    <select [(ngModel)]="chainId">
      <option [value]="137">Polygon</option>
      <option [value]="1" disabled>Mainnet</option>
    </select>
  </div>
  <app-info [chainId]="chainId" [relayerAddress]="relayerAddress"></app-info>
  <hr>
  <div *ngIf="loadingData">Loading data...</div>
  <app-executed [data]="executedOrders"></app-executed>
  <div style="margin-top: 3rem">
    <app-logs [logs]="logs"></app-logs>
  </div>
</header>
